.pytest_cache
*.idea
test_db.db
*/tests/test_db.db
*/tests/cold_test_db.db
/postgres_data/
*__pycache__
*postgres.conf
*postgres_data
.env-dev
/redis-data/
/levels/
/static/levels/
/management_commands/data/
/celerybeat-schedule
logs
locust-logs
test-logs
.coverage
htmlcov
archive
/old_data/
/static/data_frames/
/static/
test_db.db-journal
etc/
google_like_map_data/
venv/
